#projectListDiv{
    margin-top: 1em;
}

.plusImg{
    width: 1em;
}

#searchProjectForm{
    margin-top: 4em;

}

#searchProjetInput{
    width: 80%;
    border-radius: 30px;
}

.plusBtn{
    background-color: #6fcf97;
    border-radius: 30px;
    color: white;
}

.plannificationBacklog{
    font-weight: bold;
    text-transform: uppercase;
}
.red{
    color: red;
}

.title{
    color: white;
    padding: 1em;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
}

/* USEFUL */
.spacex1{
    margin-top: 3em;
}
.spacex2{
    margin-top: 6em;
}
.badge-moyenne-haute{
    background-color: rgb(242, 129, 8);
    color: white;
}
.badge-etat{
    background-color: rgb(184, 184, 184);
    color: white;
}
.badge-doing{
    background-color: rgb(179, 221, 179);
    color: white;
}

.fullWidth{
    width: 100%;
}

#accordionSidebar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
#wrapper{
    margin-left: 14rem;
}
#rocketLogo{
    width: 1em;
}
  
.rocketLogo{
    width:1em;
}
.not-allowed{
    cursor: not-allowed;
}
.disabled{
    color: rgb(206, 170, 170);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px){
    #wrapper{
        margin-left: 6.5rem;
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 

.diagonal {
    animation: diagonal 10s infinite;
}

.diagonal2 {
    animation-duration: 10s;
    animation-delay: 3s;
    animation-name: diagonal;
    animation-iteration-count: infinite;
}

.diagonal3 {
    animation-duration: 10s;
    animation-delay: 1s;
    animation-name: diagonal;
    animation-iteration-count: infinite;
}

#rocket2{
    margin-top: 50rem;
    margin-left: 20rem; 
}
#rocket3{
    margin-top: 50rem;
    margin-left: 30rem;  
}

@keyframes diagonal {
    0%       { transform: translate(-800px,800px); }
    100%     { transform: translate(1800px,-1800px) }
}
