#projectListDiv{
    margin-top: 1em;
}

.plusImg{
    width: 1em;
}

#searchProjectForm{
    margin-top: 4em;

}

#searchProjetInput{
    width: 80%;
    border-radius: 30px;
}

.plusBtn{
    background-color: #6fcf97;
    border-radius: 30px;
    color: white;
}

.plannificationBacklog{
    font-weight: bold;
    text-transform: uppercase;
}
.red{
    color: red;
}

/* USEFUL */
.spacex1{
    margin-top: 3em;
}
.spacex2{
    margin-top: 6em;
}
.badge-moyenne-haute{
    background-color: rgb(242, 129, 8);
    color: white;
}
.badge-etat{
    background-color: rgb(184, 184, 184);
    color: white;
}
.badge-doing{
    background-color: rgb(179, 221, 179);
    color: white;
}

.fullWidth{
    width: 100%;
}

#accordionSidebar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
#wrapper{
    margin-left: 14rem;
}
.not-allowed{
    cursor: not-allowed;
}
.disabled{
    color: rgb(206, 170, 170);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

@media (max-width: 768px){
    #wrapper{
        margin-left: 6.5rem;
    }
}
