.navbar-Blue{
  background-color: #00315f;
  color: white;
  padding: 1em;
}
  
.navbar-title {
  left: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
}

#deconnexionBtn{
  background-color: inherit;
  color: inherit;
}
#deconnexion{
  position: absolute;
}
