<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <form class="form-inline" action="/projectView/<%= project._id %>/createSprint" method="POST">
        <button type="submit" class="btn btn-sm plusBtn">
            <img src="/assets/plus-sign-in-a-white-circle.png" class="plusImg">
            Créer un Sprint
        </button>
    </form>
</div>