<div class="board-item container ">
    <div class="board-item-content row" >
        <form class="form-inline w-100">
            <p style="width: 100%;" data-toggle="modal" data-target="#infoTaskModal<%= i %>">
                <span id="<%= i %>">#<%= taskId %></span>
            </p>
        </form>
    </div>
</div>


