<div class="board-item container">
    <div class="board-item-content row">
        <div class="col-md-10">
            <span id="<%= i %>">#<%= taskId %></span>
        </div>
        <div class="col-md-1 modifyUS">
            <a class="text-warning" href="">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        <div class="col-md-1 modifyUS">
            <p class="text-danger" href="">
                <i class="fas fa-trash-alt"></i>
            </p>
        </div>
    </div>
</div>