<div class="modal fade" id="taskModal>">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Créer une Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="/projectView/<%=project._id%>/createTask/<%= i %>" method="POST">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="entantque">En tant que</label>
                        <select class="form-control" id="entantque" name="entantque">
                            
                        </select>
                        <label for="jesouhaite">Je souhaite</label>
                        <textarea class="form-control rounded-0" id="jesouhaite" name="jesouhaite"
                            placeholder="avoir accès à ..." rows="3"
                            maxlength="500"></textarea>
                        <label for="afinde">Afin de</label>
                        <textarea class="form-control rounded-0" id="afinde" name="afinde"
                            placeholder="pouvoir me connecter ..." rows="3"
                            maxlength="500"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="importance">Importance</label>
                        <select class="form-control" id="importance" name="importance">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="difficulte">Difficulté</label>
                        <select class="form-control" id="difficulte" name="difficulte">
                            <
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="plannification">Plannification</label>
                        <select class="form-control" id="plannification" name="plannification">
                            <option>-</option>
                            
                        </select>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                </div>

            </form>

        </div>
    </div>
</div>