<nav class="navbar navbar-Blue">
    <div class="navbar-title">
        <p class="ml-3 my-2 my-lg-0">
            <img id="rocketLogo" src="../../assets/rocket.svg"> 
            gestion de projet
        </p>
    </div>
    <form class="form-inline my-2 my-lg-0 ml-auto">
        <button class="btn btn-md my-2 my-sm-0 ml-3" id="deconnexionBtn" type="submit">
            <i class="fa fa-sign-out"></i> 
            Déconnexion
        </button>
    </form>
</nav>
  