<form class="form-inline" id="searchProjectForm">
    <input id="searchProjetInput" class="form-control mr-sm-2 ml-3 my-2 my-lg-0" type="text" placeholder="Rechercher un projet" aria-label="Search">
    <button class="btn btn-sm" id="plusBtn" type="submit">
        <img src="/assets/plus-sign-in-a-white-circle.png" id="plusImg">
         Créer un projet
    </button>
</form>